@font-face {
    font-family: 'LINESeedSans_XBd';
    src: url('Fonts/LINESeedSans_XBd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'LINESeedSans_XBd';
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #87CEEB, #00008B);
    background-size: 100% 400%;
    background-position: center 0%;
    color: #333;
    transition: background-position 0.3s ease-out;
    padding-top: 80px;
}

header, footer {
    background-color: rgba(150, 150, 150, 0.75);
    padding: 0.25rem 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
    position: relative;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

body {
    padding-top: 80px;
}

section {
    padding: 2rem 1rem;
    margin: 1rem 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: relative;
    z-index: 1;
}

.logo-language-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .logo img {
    max-width: 100px;
    width: 100px;
    max-height: 100px;
    height: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-left: auto;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 1.5rem;
    color: #ffffff;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav ul li a:hover {
    color: darkorange;
}

.language-selector {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.language-selector .flag {
    max-width: 32px;
    max-height: 32px;
    width: auto;
    height: auto;
}

.language-selector select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    color: #333;
    font-size: 1rem;
    font-family: 'LINESeedSans_XBd';
}

.container {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 2rem;
    border-radius: 8px;
    max-width: 1200px;
    margin: 1rem auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#accueil {
    color: #333;
    padding: 4rem 2rem;
}

#accueil h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: darkorange;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

#accueil p {
    font-size: 1.5rem;
    color: rgba(0, 0, 139, 0.9);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.game-presentation, .omadaKeyDemand-container {
    width: 100%;
    text-align: center;
}

.omadaKeyDemand-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.omadaKeyDemand-container label {
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
    font-family: 'LINESeedSans_XBd';
}

.omadaKeyDemand-container input,
.omadaKeyDemand-container button {
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #ffffff;
    color: #333;
    font-family: 'LINESeedSans_XBd';
}

.omadaKeyDemand-container button {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
}

.omadaKeyDemand-container button:hover {
    background-color: #4cff00;
}

#jeu h2 {
    font-size: 2.5rem;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    font-weight: bold;
}

#jeu p {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    font-weight: bold;
}

#jeu .screenshots {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
    font-weight: bold;
}

#jeu .screenshots img {
    max-width: 300px;
    border-radius: 8px;
    transition: transform 0.3s;
}

#jeu .screenshots img:hover {
    transform: scale(1.1);
}

#jeu .videos {
    display: flex;
    justify-content: center;
}

#jeu .videos iframe {
    border-radius: 8px;
}

#contact {
    background-color: rgba(255, 255, 255, 0);
    padding: 2rem 2rem;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.25px;
    font-weight: bold;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    font-size: 1.25rem;
    font-weight: bold;
}

#contact input, #contact textarea, #contact button {
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 1rem;
    color: #333;
    font-family: 'LINESeedSans_XBd';
}

#contact button {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact button:hover {
    background-color: #4cff00;
}

footer {
    background-color: transparent;
    padding: 0.25rem 0;
    text-align: center;
    box-shadow: none;
    position: relative;
    overflow: hidden;
}

footer p {
    font-size: 1rem;
    color: #e0e0e0;
}

.Omada-logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
    display: block;
    margin: 0 auto 1rem;
}

#error-message {
    color: red;
    font-weight: bold;
    padding: 1rem;
}

#confirmation-message {
    color: green;
    font-weight: bold;
    padding: 1rem;
}

.equipe {
    margin-top: 1rem;
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    font-weight: bold;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem 0;
    justify-content: center;
}

.member {
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
}

.member p {
    margin: 0;
    font-size: 1rem;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
}

.member p1 {
    margin: 0;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    position: static;
    font-weight: bold;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.1px;
    white-space: normal;
    text-align: center;
    word-wrap: break-word;
}

.bubbles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.bubble {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    animation: float 8s infinite ease-in;
    opacity: 0;
    z-index: 1;
}

@keyframes float {
    0% {
        transform: translateY(100vh) scale(0.2);
        opacity: 0.5;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        transform: translateY(-100vh) scale(1);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    header nav ul li a {
        font-size: 1.2rem;
    }

    #accueil h1 {
        font-size: 2rem;
    }

    #jeu h2, #jeu p, #jeu .screenshots img {
        font-size: 1.5rem;
    }

    #jeu .screenshots img {
        max-width: 100%;
    }

    .omadaKeyDemand-container form,
    #contact form {
        width: 100%;
        padding: 10px;
    }

    .omadaKeyDemand-container input,
    .omadaKeyDemand-container button,
    #contact input,
    #contact button,
    #contact textarea {
        font-size: 1rem;
    }

    .scroll-container {
        flex-direction: column;
        align-items: center;
    }

    .member {
        width: 100%;
        max-width: 200px;
        margin: 10px 0;
    }

    .Omada-logo {
        width: 120px;
        height: 120px;
    }

    footer p {
        font-size: 0.9rem;
    }

    header nav .logo img {
        max-width: 100px;
    }

    .language-selector select {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    header nav ul li a {
        font-size: 1rem;
        -webkit-text-stroke-width: 0.5px;
    }

    #accueil h1 {
        font-size: 1.5rem;
    }

    #jeu h2, #jeu p {
        font-size: 1.25rem;
    }

    .scroll-container {
        flex-direction: column;
    }

    .member {
        width: 90%;
        max-width: 150px;
    }

    .Omada-logo {
        width: 100px;
        height: 100px;
    }

    header nav .logo img {
        max-width: 80px;
    }

    .language-selector select {
        font-size: 0.8rem;
    }
}
